In [12]:
from pykrx import stock
import time

In [13]:
# (market: KOSPI/KOSDAQ/KONEX/ALL)
tickers = stock.get_market_ticker_list("20200103", market="KOSDAQ")
# print(tickers)


for i, ticker in enumerate(stock.get_market_ticker_list("20200103", market="KOSDAQ")):
    if i >= 3:
        break
    name = stock.get_market_ticker_name(ticker)

    print(name)

    df = stock.get_market_ohlcv("20230201", "20230203", ticker, "d", adjusted=False)
    display(df)
    time.sleep(1)

3S

              시가    고가    저가    종가     거래량       거래대금   등락률
날짜
2023-02-01  2270  2320  2270  2310  125580  289275800  1.54
2023-02-02  2320  2345  2310  2325  190650  444102005  0.65
2023-02-03  2335  2455  2335  2350  310406  740380380  1.08

APS

               시가     고가     저가     종가     거래량        거래대금   등락률
날짜
2023-02-01  14000  14230  13800  13870  116578  1632913940 -1.35
2023-02-02  14350  15000  13900  13980  221607  3182632330  0.79
2023-02-03  14150  14650  13870  14350  174408  2486866270  2.65

AP시스템

               시가     고가     저가     종가     거래량        거래대금   등락률
날짜
2023-02-01  19040  19330  19040  19180   52041  1000329360  0.63
2023-02-02  19390  19790  19280  19790  130909  2560597710  3.18
2023-02-03  19890  20000  19560  19610   93458  1847027250 -0.91

In [14]:
df = stock.get_market_ohlcv("20210122")
print(df.head(3))

           시가     고가     저가     종가      거래량         거래대금    등락률
티커
095570   4190   4245   4160   4210   216835    910274405   0.84
006840  25750  29550  25600  29100   727088  20462325950  12.57
027410   5020   5250   4955   5220  1547629   7990770515   4.19

In [15]:
df = stock.get_market_price_change("20180301", "20180320", market="KOSDAQ")
print(df.head(2))

           종목명    시가    종가  변동폭   등락률      거래량         거래대금
티커
060310      3S  2090  2235  145  6.94  4587644   9959966435
054620  APS홀딩스  8610  8430 -180 -2.09  2196806  17808025570

In [16]:
df = stock.get_market_fundamental("20210108")
print(df.head(2))

          BPS    PER   PBR   EPS   DIV  DPS
티커
095570   6802   4.62  0.67   982  6.61  300
006840  62448  11.69  0.41  2168  2.96  750

In [18]:
df = stock.get_market_fundamental("20210104", market="KOSDAQ")
print(df.head(2))

          BPS  PER   PBR  EPS  DIV  DPS
티커
060310    745  0.0  3.03    0  0.0    0
054620  10530  0.0  0.76    0  0.0    0

In [19]:
df = stock.get_market_trading_value_by_date("20210115", "20210122", "005930")
print(df.head())

                    기관합계         기타법인            개인         외국인합계  전체
날짜
2021-01-15 -440769209300  25442287800  661609085600 -246282164100   0
2021-01-18   42323535000  22682344800   14829121700  -79835001500   0
2021-01-19   95523053500  -3250422500 -173484213300   81211582300   0
2021-01-20 -364476214000  22980632900  430115581000  -88619999900   0
2021-01-21  -60637506300 -27880854000  250285510000 -161767149700   0

In [20]:
df = stock.get_market_trading_volume_by_date("20210115", "20210122", "005930")
print(df.head())

               기관합계    기타법인       개인    외국인합계  전체
날짜
2021-01-15 -5006115  288832  7485785 -2768502   0
2021-01-18   505669  262604   151228  -919501   0
2021-01-19  1139258  -34023 -2044543   939308   0
2021-01-20 -4157919  262408  4917655 -1022144   0
2021-01-21  -712099 -321732  2890389 -1856558   0